{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {#Don't put FORM tag, it destroys the Twig Form !#}
    {{ form_start(registrationForm, {'method': 'POST', 'attr': {'class': 'formSignIn'}}) }}
    <div class="form-group">
        {{ form_row(registrationForm.username, { 'attr': {'placeholder': "Michel3000"} }) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.mail, { 'attr': {'type': 'email', 'placeholder': "Nom@exemple.fr"} }) }}
    </div>
        <div class="form-group">
        {{ form_row(registrationForm.password, { 'attr': {'placeholder': "••••••••••"} }) }}
        </div>
    <div class="form-group">
        {{ form_row(registrationForm.instruments) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.styles) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.groupe) }}
    </div>
    {{ form_row(registrationForm.agreeTerms) }}

<div class="text-center">
    {{ form_rest(registrationForm) }}
    {#<button type="submit" class="btnBlock btn-lg btn-success" value="S'inscrire">Inscription</button>#}
</div>
    {{ form_end(registrationForm) }}

{% endblock %}
