{% extends 'pages/dashboard.html.twig' %}
{% block title %}DashBoard - Styles{% endblock %}
{% block dashboard %}
    <div class="insideDash">
        {% for message in app.flashes('success') %}
            <div class="text-center" style="margin-top: 1%">
                <div class="alert alert-success" role="alert" style="width: 35% ;margin: auto;">
                    {{ message }}
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
        {% endfor %}
        <ul class="list-group">
            {% for style in styles %}
                <li class="list-group-item">{{ style }} <a id="editPrs" class="updateLink" href="{{ path('app_admin_delete_style', {'id': style.id}) }}" ><i class="fas fa-trash-alt"></i></a>
                </li>
            {% endfor %}
        </ul>

        {{ form_start(addStyleForm, {'method': 'POST', 'attr': {'class': 'formSignIn'} }) }}
        <div class="form-group">
            {{ form_row(addStyleForm.style) }}
        </div>
        {#<div class="text-center">#}
        <button type="submit" class="btnBlock btn-lg btn-success" value="Edit">Ajouter</button>
        {#</div>#}
        {{ form_end(addStyleForm) }}



    </div>
{% endblock %}
