{% extends 'base.html.twig' %}

{% block title %}Edit Profil{% endblock %}

{% block body %}

    {{ form_start(editForm, {'method': 'POST', 'attr': {'class': 'formSignIn'} }) }}
    <div class="form-group">
        {{ form_row(editForm.username) }}
    </div>
    <div class="form-group">
        {{ form_row(editForm.mail) }}
    </div>
    <div class="form-group">
        {{ form_row(editForm.instrument) }}
    </div>
    <div class="form-group">
        {{ form_row(editForm.style) }}
    </div>
    <div class="form-group">
        {{ form_row(editForm.groupe) }}
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('edit') }}"
    >
    <div class="text-center">
        <button type="submit" class="btnBlock btn-lg btn-success" value="Edit">Modifier</button>
    </div>
    {{ form_end(editForm) }}




    <footer>
        <p>©Conrozier Dimitri</p>
    </footer>
{% endblock %}